table { font-size:8pt; border-spacing:0; border-collapse:collapse; }

body { max-width: 67em;}

table { margin-left:auto; margin-right:auto; }

table caption { font-size:10pt; padding:0.5em; text-align:left; }

tr, td, th { margin:0; border:none; }
th, td { padding:0.2em 0.5em 0.2em 0.5em; }

thead { border-bottom:2px solid black; }

tbody tr:nth-child(even) {background: #EEE}
tbody tr:nth-child(odd) {background: #FFF}

.h1 th:nth-child(2),
.h1 th:nth-child(3),
.h1 th:nth-child(4),
.h1 th:nth-child(5),
.h1 th:nth-child(6),
.h1 th:nth-child(7)
     {border-right:1px solid black; }

.h2 th:nth-child(2), 
.h2 th:nth-child(4),
.h2 th:nth-child(6),
.h2 th:nth-child(8),
.h2 th:nth-child(10),
.h2 th:nth-child(12)
     {border-right:1px solid black; }

td:nth-child(2), 
td:nth-child(4),
td:nth-child(6),
td:nth-child(8),
td:nth-child(10),
td:nth-child(12)
     {border-right:1px solid black; }

tbody { text-align:right; }
tbody td:nth-child(1) { text-align:left; }
tbody tr:hover {background-color: #ffe63e; }
thead .h1 th { text-align:center; }
thead .h2 th:nth-child(1) { text-align:left; }
thead .h2 th:nth-child(2) { text-align:right; }
thead .h2 th { text-align:center; }

tfoot { border-top: 1px solid black; border-bottom:2px solid black; }
tfoot td { text-align:right; }
tfoot .rowhead { text-align:left; font-weight:bold; }
